<footer>
   <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
      <hr>
      <div class="row">
         {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
         {% else %}
            {% set copy_date = '' %}
         {% endif %}
         <div class="col-xs-10">&copy; {{ copy_date }} <a href="/">{{ AUTHOR }}</a></div>
         <div class="col-xs-2"><p class="pull-right"><i class="xi-angle-up"></i><a href="#">Top</a></p></div>
      </div>
   </div>
</footer>
