{% extends 'index.html' %}
{% block title %}Categories | {{ super() }}{% endblock title %}
{% block pagetitle %}All Categories{% endblock pagetitle %}


{% block content %}
    <div class="pure-u-1">
        <div class="content">
            <h1 class="content-subhead">All Categories</h1>
            <ul>
                {% for category, articles in categories %}
                    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
            {% include 'footer.html' %}
        </div>
    </div>
{% endblock %}
