<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<!-- Using the latest rendering mode for IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	{% if FAVICON %}
	<link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
	<!--[if IE]><link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON_IE }}"><![endif]-->
	{% endif %}

	{% if TOUCHICON %}
	<link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}">
	{% endif %}

	{% block canonical_rel %}
	{% endblock %}

	{% block meta %}
		<meta name="author" content="{{ AUTHOR }}" />
	{% endblock %}

	<!-- CSS Components -->
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/xeicon/xeicon.min.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css"> -->
	<link rel="stylesheet" type="text/css" href="https://blog.chann.kr/assets/css/bigfoot-number.css">
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/base.css"/>

	{% if FEED_ALL_ATOM %}
	<link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"/>
	{% endif %}

	{% if FEED_ALL_RSS %}
	<link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
	{% endif %}

	{% if tag and TAG_FEED_ATOM %}
	<link href="{{ SITEURL }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ tag }} ATOM Feed"/>
	{% endif %}

	{% if category and CATEGORY_FEED_ATOM %}
	<link href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category }} ATOM Feed"/>
	{% endif %}
</head>
<body>
<!-- GNB -->
<div class="navbar {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-inverse{% else %}navbar-default{% endif %}" role="navigation">
	<div class="gnb container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
		<div class="navbar-header">
			<a href="{{ SITEURL }}/" class="navbar-brand">
				{% if SITELOGO %}<img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> {% endif %}
				{% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
			</a>
		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				{% for title, link in MENUITEMS %}
					<li><a href="{{ link }}">{{ title }}</a></li>
				{% endfor %}
				{% if DISPLAY_PAGES_ON_MENU %}
					{% for p in PAGES %}
						 <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">
							 {{ p.menulabel|default(p.title) }}
						  </a></li>
					  {% endfor %}
				{% endif %}
				{% if DISPLAY_CATEGORIES_ON_MENU %}
					{% for cat, null in categories %}
						<li {% if cat == category %}class="active"{% endif %}>
							<a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
						</li>
					{% endfor %}
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://blog.chann.kr"><i class="gnb-xeicon xi-ghost"></i></a></li>
				<li><a href="https://twitter.com/channprj"><i class="gnb-xeicon xi-twitter"></i></a></li>
				<li><a href="https://github.com/channprj"><i class="gnb-xeicon xi-github"></i></a></li>
				<li><a href="{{ SITEURL }}/about"><i class="gnb-xeicon xi-unknown-circle"></i></a></li>
				<li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives') }}"><i class="gnb-xeicon xi-archive"></i><!-- <span class="icon-label"></span> --></a></li>
				<li><a href="{{ SITEURL }}/{{ CATEGORIES_URL | default('categories') }}"><i class="gnb-xeicon xi-sitemap"></i></a></li>
				<li><a href="{{ SITEURL }}/{{ TAGS_URL | default('tags') }}"><i class="gnb-xeicon xi-tags"></i></a></li>
				<li><a href="{{ SITEURL }}/{{ SEARCH_URL | default('search') }}"><i class="gnb-xeicon xi-magnifier"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- //GNB -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
{% block breadcrumbs %}
{% endblock %}
</div>
<!-- banner -->
{% if BANNER and BANNER_ALL_PAGES %}
	{% include 'includes/banner.html' %}
{% elif BANNER and not BANNER_ALL_PAGES %}
	{% block banner %}{% endblock %}
{% endif %}
<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
	<div class="wrap row">
		{% if not HIDE_SIDEBAR or ABOUT_ME %}
		<div class="col-sm-9">
		{% else %}
		<div class="col-lg-12">
		{% endif %}
		{% block content %}
		{% endblock %}
		</div>
		{% if not HIDE_SIDEBAR or ABOUT_ME %}
		<div class="col-sm-3" id="sidebar">
			<aside>
			{% if ABOUT_ME %}
				{% include 'includes/aboutme.html' %}
			{% endif %}
			{% if not HIDE_SIDEBAR %}
				{% include 'includes/sidebar.html' %}
			{% endif %}
			</aside>
		</div>
		{% endif %}
	</div>
</div>
{% include 'includes/footer.html' %}

<!-- JS Components -->
<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://blog.chann.kr/assets/js/bigfoot.min.js"></script>
<script type="text/javascript">$.bigfoot();</script>
<!-- <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/prism.js"></script> -->

{# includes #}
{% include 'includes/github-js.html' %}
{% include 'includes/disqus_script.html' %}
{% include 'includes/ga.html' %}

{% block scripts %}{% endblock %}
</body>
</html>
