{% extends 'base.html' %}

{% block title %}
Search - {{ super() }}
{% endblock %}

{% block scripts %}
    {% if 'assets' in PLUGINS %}
    {% include 'includes/minify_tipuesearch.html' with context %}
    {% else %}
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.min.js"></script>
    {% endif %}
    <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'mode' : 'json',
        'show': 10,
        'newWindow': false,
        'contentLocation': 'tipuesearch_content.json'
      });
    });
    </script>
{% endblock %}

{% block content %}
<div id="tipue_search_content"></div>
<script>
  (function() {
    var cx = '008786403800651693027:pl-mhfxks58';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
{% endblock %}
